<div id="stage-before-pa" class="stage">
    <object id="before-pa-svg" type="image/svg+xml" data="img/before-pa.svg" class="svg"></object>
    <div id="before-pa-ui">
        <p class="ui-text narrative-text" data-i18n="before-pa.narrative-text-1"></p>
        <p class="ui-text narrative-text" data-i18n="before-pa.narrative-text-2"></p>
        <p class="ui-text narrative-text" data-i18n="before-pa.narrative-text-3"></p>
        <p class="ui-text narrative-text" data-i18n="before-pa.narrative-text-4"></p>
        <button id="before-pa-next-stage" class="button hidden-ui" data-i18n="before-pa.next-stage-button"></button>
    </div>
</div>
