<div id="stage-before-pa" class="stage">
    <object id="before-pa-svg" type="image/svg+xml" data="img/before-pa.svg" class="svg"></object>
    <div id="before-pa-ui">
        <p class="narrative-text">
            I've made it just as the sun is setting.
        </p>
        <p class="narrative-text">
            I can see my whānau.
        </p>
        <p class="narrative-text">
            I can smell the kai.
        </p>
        <p class="narrative-text">
            It's great to be home.
        </p>
        <button id="before-pa-next-stage" class="button">
            Approach the pā
        </button>
    </div>
</div>
