<div id="stage-before-plains" class="stage">
    <object id="before-plains-svg" type="image/svg+xml" data="img/before-plains.svg" class="svg"></object>
    <div id="before-plains-ui">
        <p class="ui-text narrative-text">
            I can see the pā in the distance, but I still need to cross the large grassy plains.
        </p>
        <p class="ui-text narrative-text">
            There are obstacles everywhere.
            I can see where some weka have built their nests, I don't want to disturb them either.
            How will I find my way through?
        </p>
    </div>
    <button id="before-plains-next-stage" class="button hidden-ui">
        Start walking
    </button>
</div>
