<div id="stage-before-plains" class="stage">
    <object id="before-plains-svg" type="image/svg+xml" data="img/before-plains.svg" class="svg"></object>
    <div id="before-plains-ui">
        <p class="ui-text narrative-text" data-i18n="before-plains.initial-text-1"></p>
        <p class="ui-text narrative-text" data-i18n="before-plains.initial-text-2"></p>
    </div>
    <button id="before-plains-next-stage" class="button hidden-ui" data-i18n="before-plains.next-stage-button"></button>
</div>
