<div id="stage-before-river" class="stage">
    <object id="before-river-svg" type="image/svg+xml" data="img/before-river.svg" class="svg"></object>
    <div id="before-river-ui">
        <p class="ui-text narrative-text" data-i18n="before-river.initial-text-1"></p>
        <p class="ui-text narrative-text" data-i18n="before-river.initial-text-2"></p>
        <p class="ui-text narrative-text" data-i18n="before-river.initial-text-3"></p>
</div>
    <button id="before-river-next-stage" class="button hidden-ui"  data-i18n="before-river.next-stage-button"></button>
</div>
