<div id="stage-before-river" class="stage">
    <object id="before-river-svg" type="image/svg+xml" data="img/before-river.svg" class="svg"></object>
    <div id="before-river-ui">
        <p class="ui-text narrative-text">
            Whew!
            I'm glad to have figured out that message left for me by my whānau.
            I have successfully found the secret path and made it to the river.
        </p>
        <p class="ui-text narrative-text">
            That storm last week has washed away the crossing.
            The river is too swift to cross, so I'm going to have to make a new bridge.
            At least by rebuilding the bridge, other people will be able to use it too.
        </p>
        <p class="ui-text narrative-text">
            I can see some spare coils of rope, but the individual lengths are too short to span the river.
            I'm going to have to join them together.
        </p>
    </div>
    <button id="before-river-next-stage" class="button hidden-ui">
        Start assembling the bridge
    </button>
</div>
