<div id="stage-fern-message" class="stage">
    <object id="fern-message-svg" type="image/svg+xml" data="img/fern-message.svg" class="svg"></object>
    <div id="fern-message-narrative-text">
        <p class="ui-text narrative-text initial-text" data-i18n="fern-message.initial-text-1"></p>
        <p class="ui-text narrative-text initial-text" data-i18n="fern-message.initial-text-2"></p>
        <p class="ui-text instruction-text initial-text" data-i18n="fern-message.initial-text-3"></p>
        <p class="ui-text narrative-text secondary-text" data-i18n="fern-message.hint-text"></p>
    </div>
    <div id="fern-message-narrative-text-final">
        <p id="fern-message-final-text" class="ui-text narrative-text" data-i18n="fern-message.final-text"></p>
    </div>
    <button id="fern-message-previous-stage" class="button hidden-ui" data-i18n="fern-message.previous-stage-button"></button>
    <button id="fern-message-next-stage" class="button hidden-ui" data-i18n="fern-message.next-stage-button"></button>
    <div id="fern-message-word-container"></div>
    <div id="fern-message-value-container"></div>
    <div id="fern-message-feedback-container">
        <button id="fern-message-check" class="button hidden-ui" data-i18n="fern-message.check-button"></button>
        <div id="fern-message-feedback-error-text" class="ui-text narrative-text" data-i18n="fern-message.incorrect-text"></div>
        <div id="fern-message-feedback-success-text" class="ui-text narrative-text" data-i18n="fern-message.correct-text"></div>
    </div>
</div>
