<div id="stage-fern-interactive" class="stage">
    <object id="fern-svg" type="image/svg+xml" data="img/fern-interactive.svg" class="svg"></object>
    <div id="fern-interactive-ui-1">
        <p class="ui-text narrative-text">
            A group of fern leaves has been laid upon a large rock.
        </p>
        <p class="ui-text narrative-text">
            I remember my whānau telling me that I will come across a secret message informing me which path to take to find the river crossing.
        </p>
        <p class="ui-text narrative-text">
            I should understand what is special about these leaves before continuing.
        </p>
        <p class="ui-text instruction-text">
            Click on the fern leaves to interact with them.
        </p>
    </div>
    <div id="fern-interactive-ui-2">
        <p class="ui-text narrative-text ant-text-1">
            The ants are forming a number on the tree that seems to be connected to the leaves.
            I should understand how the numbers are formed.
        </p>
        <p class="ui-text narrative-text ant-text-1">
            How do I make the number <span id='ant-puzzle-1-goal'></span>?
        </p>
        <p class="ui-text narrative-text ant-text-2">
            Ahh, that worked. What about the number <span id='ant-puzzle-2-goal'></span>?
        </p>
        <p class="ui-text narrative-text ant-text-3">
            I think it's time to head further down the path now.
        </p>
    </div>
    <button id='fern-interactive-next-stage' class="button hidden-ui">
        Continue down the path
    </button>
    <div id="fern-container">
        <div id="fern-leaf-16" data-value="16" class="fern-leaf">
            <div id="fern-leaf-16-front" class="fern-leaf-side fern-leaf-front"></div>
            <div id="fern-leaf-16-back" class="fern-leaf-side fern-leaf-back"></div>
        </div>
        <div id="fern-leaf-8" data-value="8" class="fern-leaf">
            <div id="fern-leaf-8-front" class="fern-leaf-side fern-leaf-front"></div>
            <div id="fern-leaf-8-back" class="fern-leaf-side fern-leaf-back"></div>
        </div>
        <div id="fern-leaf-4" data-value="4" class="fern-leaf">
            <div id="fern-leaf-4-front" class="fern-leaf-side fern-leaf-front"></div>
            <div id="fern-leaf-4-back" class="fern-leaf-side fern-leaf-back"></div>
        </div>
        <div id="fern-leaf-2" data-value="2" class="fern-leaf">
            <div id="fern-leaf-2-front" class="fern-leaf-side fern-leaf-front"></div>
            <div id="fern-leaf-2-back" class="fern-leaf-side fern-leaf-back"></div>
        </div>
        <div id="fern-leaf-1" data-value="1" class="fern-leaf">
            <div id="fern-leaf-1-front" class="fern-leaf-side fern-leaf-front"></div>
            <div id="fern-leaf-1-back" class="fern-leaf-side fern-leaf-back"></div>
        </div>
    </div>
</div>
