<div id="stage-fern-interactive" class="stage">
    <object id="fern-svg" type="image/svg+xml" data="img/fern-interactive.svg" class="svg"></object>
    <div id="fern-interactive-ui-1">
        <p class="ui-text narrative-text" data-i18n="fern-interactive.intro-line-1"></p>
        <p class="ui-text narrative-text" data-i18n="fern-interactive.intro-line-2"></p>
        <p class="ui-text narrative-text" data-i18n="fern-interactive.intro-line-3"></p>
        <p class="ui-text instruction-text" data-i18n="fern-interactive.instruction-text"></p>
    </div>
    <div id="fern-interactive-ui-2">
        <p class="ui-text narrative-text ant-text-1" data-i18n="fern-interactive.ant-hint"></p>
        <p id="ant-task-1" class="ui-text narrative-text ant-text-1" data-i18n="fern-interactive.task-1"></p>
        <p id="ant-task-2" class="ui-text narrative-text ant-text-2" data-i18n="fern-interactive.task-2"></p>
        <p class="ui-text narrative-text ant-text-3" data-i18n="fern-interactive.final-text"></p>
    </div>
    <button id='fern-interactive-next-stage' class="button hidden-ui" data-i18n="fern-interactive.next-stage-button"></button>
    <div id="fern-container">
        <div id="fern-leaf-16" data-value="16" class="fern-leaf">
            <div id="fern-leaf-16-front" class="fern-leaf-side fern-leaf-front"></div>
            <div id="fern-leaf-16-back" class="fern-leaf-side fern-leaf-back"></div>
        </div>
        <div id="fern-leaf-8" data-value="8" class="fern-leaf">
            <div id="fern-leaf-8-front" class="fern-leaf-side fern-leaf-front"></div>
            <div id="fern-leaf-8-back" class="fern-leaf-side fern-leaf-back"></div>
        </div>
        <div id="fern-leaf-4" data-value="4" class="fern-leaf">
            <div id="fern-leaf-4-front" class="fern-leaf-side fern-leaf-front"></div>
            <div id="fern-leaf-4-back" class="fern-leaf-side fern-leaf-back"></div>
        </div>
        <div id="fern-leaf-2" data-value="2" class="fern-leaf">
            <div id="fern-leaf-2-front" class="fern-leaf-side fern-leaf-front"></div>
            <div id="fern-leaf-2-back" class="fern-leaf-side fern-leaf-back"></div>
        </div>
        <div id="fern-leaf-1" data-value="1" class="fern-leaf">
            <div id="fern-leaf-1-front" class="fern-leaf-side fern-leaf-front"></div>
            <div id="fern-leaf-1-back" class="fern-leaf-side fern-leaf-back"></div>
        </div>
    </div>
</div>
