<div id="stage-fern-message" class="stage">
    <object id="fern-message-svg" type="image/svg+xml" data="img/fern-message.svg" class="svg"></object>
    <div id="fern-message-narrative-text">
        <p class="ui-text narrative-text initial-text">
            I've found the secret message hanging on a rimu trunk.
            Some of the dots have been rubbed off the leaves to make it harder to decipher.
        </p>
        <p class="ui-text narrative-text initial-text">
            I need to figure out what the word is, so I know which path to take down the valley to the river crossing.
        </p>
        <p class="ui-text instruction-text initial-text">
            I need to figure out the letters – represented by the ferns – using the symbols on the fallen log below.
            The resulting word should tell me which path to take.
        </p>
        <p class="ui-text narrative-text secondary-text">
            If I don't understand how the code works I might need to head back up the path.
            Maybe the fern leaves and the number the ants formed can help me.
        </p>
    </div>
    <div id="fern-message-narrative-text-final">
        <p class="ui-text narrative-text">
            Ah!
            Since the number has appeared on a rimu tree, I will continue down the track until I pass <span id="fern-message-word-sentence"></span> rimu.
            I can head downhill to the river at that point, and I should find the river crossing.
        </p>
    </div>
    <button id="fern-message-previous-stage" class="button hidden-ui">
        Go back up the path
    </button>
    <button id="fern-message-next-stage" class="button hidden-ui">
        Head down the valley
    </button>
    <div id="fern-message-word-container"></div>
    <div id="fern-message-value-container"></div>
    <div id="fern-message-feedback-container">
        <button id="fern-message-check" class="button hidden-ui">
            Check the letters
        </button>
        <div id="fern-message-feedback-error-text" class="ui-text narrative-text">
            Something doesn't seem right.
            I need to try again.
        </div>
        <div id="fern-message-feedback-success-text" class="ui-text narrative-text">
            <div id="fern-message-word"></div>
            <div id="fern-message-word-translation"></div>
        </div>
    </div>
</div>
