<div id="stage-landscape-view" class="stage">
    <object id="landscape-view" type="image/svg+xml" data="img/landscape-view.svg" class="svg"></object>
    <div id="landscape-ui">
        <p id="landscape-ui-narrative-text" class="narrative-text"></p>
    </div>
    <button id="landscape-view-next-stage" class="button">
        Step into the forest
    </button>
</div>
