<div id="stage-landscape-view" class="stage">
    <object id="landscape-view-svg" type="image/svg+xml" data="img/landscape-view.svg" class="svg"></object>
    <div id="landscape-ui-narrative-text">
        <p class="ui-text narrative-text" data-i18n="landscape-view.line-1"></p>
        <p class="ui-text narrative-text" data-i18n="landscape-view.line-2"></p>
        <p class="ui-text narrative-text" data-i18n="landscape-view.line-3"></p>
        <p class="ui-text narrative-text" data-i18n="landscape-view.line-4"></p>
        <p class="ui-text narrative-text" data-i18n="landscape-view.line-5"></p>
        <p class="ui-text narrative-text" data-i18n="landscape-view.line-6"></p>
        <p class="ui-text narrative-text" data-i18n="landscape-view.line-7"></p>
    </div>
    <button id="landscape-view-next-stage" class="button hidden-ui" data-i18n="landscape-view.next-stage-button"></button>
</div>
