<div id="stage-outside-pa" class="stage">
    <object id="outside-pa-svg" type="image/svg+xml" data="img/outside-pa.svg" class="svg"></object>
    <div id="outside-pa-ui">
        <p class="ui-text narrative-text text-center">
            Ko te kairapu ko ia te kite<br>
            The one who seeks will find
        </p>
        <p class="ui-text narrative-text">
            Tino pai! Well done on making it to your destination by completing the puzzles.
        </p>
        <p class="ui-text instruction-text">
            The three types of puzzles that you completed on your journey are all examples of important concepts that are in the new and revised Digital Technologies and Hangarau Matihiko curriculum content.
        </p>
        <p class="ui-text instruction-text">
            Scroll down to learn more
        </p>
    </div>
</div>
