<div id="stage-outside-pa" class="stage">
    <object id="outside-pa-svg" type="image/svg+xml" data="img/outside-pa.svg" class="svg"></object>
    <div id="outside-pa-ui">
        <p class="ui-text narrative-text text-center" data-i18n="complete.final-text-1"></p>
        <p class="ui-text narrative-text" data-i18n="complete.final-text-2"></p>
        <p class="ui-text instruction-text" data-i18n="complete.final-text-3"></p>
        <p class="ui-text instruction-text" data-i18n="complete.final-text-4"></p>
    </div>
</div>
