<div id="stage-plains" class="stage">
    <object id="plains-svg" type="image/svg+xml" data="img/plains.svg" class="svg"></object>
    <div id="plains-left-container">
        <div id="plains-grid-left-edge"></div>
        <div id="plains-grid-container">
            <div id="plains-grid"></div>
        </div>
        <div id="plains-grid-right-edge"></div>
    </div>
    <div id="plains-user-instructions"></div>
    <div id="plains-narrative-text">
        <p class="ui-text narrative-text initial-text" data-i18n="plains.initial-text"></p>
        <p class="ui-text instruction-text initial-text" data-i18n="plains.instruction-text"></p>
        <p id="kea-text-1" class="ui-text narrative-text hidden" data-i18n="plains.kea-text"></p>
    </div>
    <div id="plains-kea-hint">
        <p id="kea-text-2" class="ui-text narrative-text" data-i18n="plains.hint-text"></p>
    </div>
    <div id="plains-instruction-buttons">
        <button id="plains-run-button" class="button hidden-ui" data-i18n="plains.run-button"></button>
    </div>
    <div id="plains-instruction-blocks" class="instruction-container"></div>
    <button id="plains-next-stage" class="button hidden-ui" data-i18n="plains.next-stage-button"></button>
</div>
