<div id="stage-plains" class="stage">
    <object id="plains-svg" type="image/svg+xml" data="img/plains.svg" class="svg"></object>
    <div id="plains-left-container">
        <div id="plains-grid-left-edge"></div>
        <div id="plains-grid-container">
            <div id="plains-grid"></div>
        </div>
        <div id="plains-grid-right-edge"></div>
    </div>
    <div id="plains-user-instructions"></div>
    <div id="plains-narrative-text">
        <p class="narrative-text initial-text">
            My whānau have left instructions for me, but some of the instructions were lost in the storm.
            I can replace them from this pile of spares.
        </p>
        <p class="instruction-text">
            Drag steps from the pile of spares, to create a set of instructions to reach the path at the top.
        </p>
        <p id="kea-text-1" class="narrative-text">
            Oh no!
            That kea has taken all the right arrows!
            I'll have to complete the instructions without them.
            I have plenty of space for instructions, but I don't think I'll need to use them all.
        </p>
        <p id="kea-text-2" class="narrative-text">
            There isn't enough room for all the instructions.
            There must be a quicker way to get through with the blocks I have.
            I wonder if I need to think creatively about how I use the arrows…
        </p>
    </div>
    <div id="plains-instruction-buttons">
        <button id="plains-run-button" class="button">
            Run instructions
        </button>
    </div>
    <div id="plains-instruction-blocks" class="instruction-container"></div>
    <button id="plains-next-stage" class="button d-none">
        Continue walking across the plains
    </button>
</div>
