<div id="stage-river-crossing" class="stage">
    <object id="river-crossing-svg" type="image/svg+xml" data="img/river-crossing.svg" class="svg"></object>
    <div id="river-crossing-narrative-text">
        <p class="ui-text narrative-text initial-text" data-i18n="river-crossing.initial-text"></p>
        <p class="ui-text instruction-text" data-i18n="river-crossing.instruction-text"></p>
    </div>
    <div id="river-crossing-narrative-text-final">
        <p class="ui-text narrative-text" data-i18n="river-crossing.final-text"></p>
    </div>
    <div id="river-crossing-cursor-catchment"></div>
    <div id="river-crossing-measurement" class="rope-value">10m</div>
    <div id="river-crossing-bank" data-capacity="300" class="rope-container"></div>
    <div id="river-crossing-rope-top" data-capacity="100" class="rope-container rope-bridge"></div>
    <div id="river-crossing-rope-middle" data-capacity="100" class="rope-container rope-bridge"></div>
    <div id="river-crossing-rope-bottom" data-capacity="100" class="rope-container rope-bridge"></div>
    <button id="river-crossing-next-stage" class="button hidden-ui" data-i18n="river-crossing.next-stage-button">
    </button>
    <button id="river-crossing-help-me" class="button hidden-ui" data-i18n="river-crossing.hint-button"></button>
</div>
