<div id="stage-river-crossing" class="stage">
    <object id="river-crossing-svg" type="image/svg+xml" data="img/river-crossing.svg" class="svg"></object>
    <div id="river-crossing-narrative-text">
        <p class="ui-text narrative-text initial-text">
            I'm going to have to join these coils of rope together.
            Which lengths will I join to make three perfect spans of rope?
        </p>
        <p class="ui-text instruction-text">
            Drag the coils of rope to the river.
            Make sure they aren't too long or too short.
            Drag them back to the river bank if you need to.
        </p>
    </div>
    <div id="river-crossing-narrative-text-final">
        <p class="ui-text narrative-text">
            I managed to make three perfect spans of rope, creating a bridge for me to cross.
            Not far to go now.
            I can smell the wood-smoke from the pā.
        </p>
    </div>
    <div id="river-crossing-cursor-catchment"></div>
    <div id="river-crossing-measurement" class="rope-value">10m</div>
    <div id="river-crossing-bank" data-capacity="300" class="rope-container"></div>
    <div id="river-crossing-rope-top" data-capacity="100" class="rope-container rope-bridge"></div>
    <div id="river-crossing-rope-middle" data-capacity="100" class="rope-container rope-bridge"></div>
    <div id="river-crossing-rope-bottom" data-capacity="100" class="rope-container rope-bridge"></div>
    <button id="river-crossing-next-stage" class="button hidden-ui">
        Cross the river
    </button>
    <button id="river-crossing-help-me" class="button hidden-ui">
        Help! Start the bridges for me...
    </button>
</div>
