{% extends "src/_base.njk" %}

{% block content %}
    <div id="complete-page">
        <p id="complete-message" class="narrative-text">
            Something inspiring...
        </p>
    </div>
    <div class="text-center credits">
        Copyright and license information will be displayed here.
    </div>
{% endblock %}
