#complete-page {
    background-image: url('../img/outside-pa.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    background-color: #36331f;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    #complete-message {
        margin-top: 50vh;
        margin-bottom: 5vh;
        font-size: 1.2rem;
    }

    .puzzle-box {
        @apply border;
        @apply border-solid;
        @apply border-white;
        @apply rounded-lg;
        @apply p-4;
        @apply bg-black bg-opacity-25;

        p {
            @apply pb-4;
        }

        img {
            @apply mx-auto;
            @apply mb-4;
        }
    }
}
