#content-guide {
    .puzzle-box {
        @apply border;
        @apply border-solid;
        @apply border-white;
        @apply rounded-lg;
        @apply p-4 m-4;
        @apply bg-black bg-opacity-25;
        @apply mx-auto;
        @apply w-full;

        h2 {
            font-size: 1.5rem;
        }

        p {
            @apply pb-4;
        }

        img {
            @apply mx-auto;
            @apply mb-4;
        }
    }
    .button {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-size: 1rem;
    }
    @screen sm {
        .puzzle-box {
            @apply w-3/4;
        }
    }
    @screen md {
        .puzzle-box {
            @apply w-2/3;
        }
    }
}
