@import '_constants';

#animation-container {
    #fern-message-word-container {
        position: absolute;
        top: 1%;
        bottom: 35%;
        left: 36%;
        right: 28%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;

        .letter-container {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: stretch;
            background-image: url('../img/flax-rope-asset.svg');
            background-size: 2.5%;
            background-repeat: repeat-x;
            background-position: 0% 13%;

            .digit-element {
                flex: 1;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    #fern-message-value-container {
        position: absolute;
        top: 1%;
        bottom: 35%;
        left: 74%;
        right: 18%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        select {
            padding: 0.3vw;
            font-size: $text-font-size * 1.5;
            line-height: 1.3;
            box-sizing: border-box;
            margin: 0;
            border: 2px solid #aaa;
            box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 46%);
            border-radius: 0.5vw;
            background: #deded1;
            opacity: 0;
            animation: 0.5s;
            color: black;
        }
    }
    #fern-message-feedback-container {
        position: absolute;
        top: 1%;
        bottom: 35%;
        left: 82%;
        right: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        // Hide direct descendants
        & > * {
            opacity: 0;
        }

        select:disabled {
            background: #ccc;
        }
        #fern-message-feedback-error-text {
            margin-top: 1vmin;
            font-size: $text-font-size;
        }
        #fern-message-feedback-success-text {
            margin-top: 1vmin;
            text-align: center;
            font-size: $text-font-size;
            line-height: $text-font-size * 1.5;
        }
    }

    #fern-message-previous-stage {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }

    #fern-message-next-stage {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }

    #fern-message-narrative-text {
        position: absolute;
        top: 1%;
        bottom: 35%;
        left: 1%;
        right: 68%;
        display: flex;
        flex-direction: column;
        justify-content: start;

        .secondary-text {
            position: absolute;
            top: 0;
        }

        // Hide direct descendants
        & > * {
            opacity: 0;
        }
    }
    #fern-message-narrative-text-final {
        position: absolute;
        top: 1%;
        bottom: 35%;
        left: 1%;
        right: 68%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        opacity: 0;
    }
}
