#stage-river-crossing {
    #river-crossing-bank {
        position: absolute;
        top: 1%;
        bottom: 55%;
        left: 1%;
        right: 75%;
        padding: 1%;
        flex-wrap: wrap;
        .rope {
            margin-right: 10%;
            margin-bottom: 6%;
            height: 10%;
            border-radius: 10%;
            background-image: url('../img/flax-rope-bundle-asset.svg');
        }
    }

    $river-left: 30.4%;
    $river-right: 10.3%;
    #river-crossing-measurement {
        position: absolute;
        top: 33%;
        bottom: 60%;
        left: $river-left;
        right: $river-right;
        text-align: center;
        border-bottom: calc(var(--font-size) * 0.2) dashed #fff;
        &:before, &:after {
            position: absolute;
            content: '';
            bottom: calc(var(--font-size) * -0.7);
            width: 0;
            height: 0;
            border-top: calc(var(--font-size) * 0.6) solid transparent;
            border-right: calc(var(--font-size) * 0.6) solid white;
            border-bottom: calc(var(--font-size) * 0.6) solid transparent;
        }
        &:before {
            left: calc(var(--font-size) * -0.2);
        }
        &:after {
            right: calc(var(--font-size) * -0.2);
            transform: rotate(180deg);
        }
    }

    #river-crossing-rope-top {
        position: absolute;
        top: 47.5%;
        bottom: 50.5%;
        left: $river-left;
        right: $river-right;
    }
    #river-crossing-rope-middle {
        position: absolute;
        top: 57%;
        bottom: 41%;
        left: $river-left;
        right: $river-right;
    }
    #river-crossing-rope-bottom {
        position: absolute;
        top: 67%;
        bottom: 31%;
        left: $river-left;
        right: $river-right;
    }
    #river-crossing-cursor-catchment {
        // This element prevents issues with Dragula losing the cursor over the SVG.
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
    }
    .rope-container {
        background: #6e4e2f42;
        border: calc(var(--font-size) * 0.15) dashed #6e4e2fde;
        border-radius: calc(var(--font-size) * 0.5);
        display: flex;
        align-content: flex-start;
    }
    .rope {
        flex-shrink: 0;
        background-color: #cc9966;
        height: 100%;
        cursor: grab;
        display: inline-block;
        border-radius: 10%;
        background-image: url('../img/flax-rope-asset.svg');
        background-repeat: repeat-x;
        position: relative;

        .rope-value {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -55%);
        }
    }
    .rope-value {
        text-shadow: 0px 0px 3px #272727;
    }
    .rope-bridge .rope+.rope:before {
        content: '';
        display: block;
        width: calc(var(--font-size) * 0.7);
        height: 100%;
        transform: translateX(-50%);
        border-radius: 50%;
        background-color: #8f663a;
        border: calc(var(--font-size) * 0.2) solid #7c5934;
    }
    #river-crossing-narrative-text {
        position: absolute;
        top: 46%;
        bottom: 1%;
        left: 1%;
        right: 75%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    #river-crossing-narrative-text-final {
        position: absolute;
        top: 46%;
        bottom: 1%;
        left: 1%;
        right: 75%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    #river-crossing-next-stage {
        position: absolute;
        bottom: 1%;
        right: 1%;
    }
    #river-crossing-help-me {
        position: absolute;
        bottom: 1%;
        left: 1%;
    }
    .gu-mirror {
        background-image: url('../img/flax-rope-bundle-asset.svg') !important;
        border-radius: 10% !important;
    }
}
