@import '_constants';

$cell-border: 0.12rem dashed darken(#9b955d, 10%);
$container-padding: 0.5rem;
$grid-container-border: 0.2rem solid black;

#stage-plains {
    #plains-left-container {
        position: absolute;
        top: 0;
        bottom: 14.3%;
        left: 0;
        right: 31.2%;
        display: grid;
        grid-template-rows: 10% auto 10%;
        border-right: $grid-container-border;
        border-bottom: $grid-container-border;

        #plains-grid-left-edge {
            grid-area: 1 / 1 / 4 / 2;
            background-image: url('../img/plains-bushes-left.svg');
            background-size: cover;
            background-position: right center;
        }
        #plains-grid-right-edge {
            background-image: url('../img/plains-bushes-right.svg');
            background-size: cover;
            background-position: left center;
        }
        #plains-grid-entrance-path {
            background-image: url('../img/plains-path.svg');
            background-size: cover;
            background-position: center top;
        }
        #plains-grid-goal-path {
            background-image: url('../img/plains-path.svg');
            background-size: cover;
            background-position: center bottom;
        }
        #plains-grid-container {
            position: relative;
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 2;

            #plains-grid {
                position: absolute;
                width: 100%;
                height: 100%;
                display: grid;
                justify-items: stretch;
                align-items: stretch;

                .cell {
                    position: relative;
                    outline: $cell-border;
                }
                #grid-avatar-container {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 10;
                }
                #grid-avatar {
                    background-image: url('../img/plains-avatar.svg');
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .cell-space-entrance {
            background-image: url('../img/plains-grid-space-entrance.svg');
        }
        .cell-space-goal {
            background-image: url('../img/plains-grid-space-exit.svg');
        }
        .cell-space-a {
            background-image: url('../img/plains-grid-space-a.svg');
        }
        .cell-space-b {
            background-image: url('../img/plains-grid-space-b.svg');
        }
        .cell-space-c {
            background-image: url('../img/plains-grid-space-c.svg');
        }
        .cell-space-d {
            background-image: url('../img/plains-grid-space-d.svg');
        }
        .cell-obstacle-a {
            background-image: url('../img/plains-grid-obstacle-a.svg');
        }
        .cell-obstacle-b {
            background-image: url('../img/plains-grid-obstacle-b.svg');
        }
        .cell-obstacle-c {
            background-image: url('../img/plains-grid-obstacle-c.svg');
        }
        .cell-obstacle-d {
            background-image: url('../img/plains-grid-obstacle-d.svg');
        }
        .cell-obstacle-e {
            background-image: url('../img/plains-grid-obstacle-e.svg');
        }
        .cell-obstacle-f {
            background-image: url('../img/plains-grid-obstacle-f.svg');
        }
        .cell-obstacle-g {
            background-image: url('../img/plains-grid-obstacle-g.svg');
        }
        .obstacle-outside-cell {
            background-size: cover;
            background-repeat: no-repeat;
        }
        .obstacle-outside-top {
            background-position: bottom;
        }
        .obstacle-outside-bottom {
            background-position: top;
        }
    }
    #plains-user-instructions {
        position: absolute;
        top: 87%;
        bottom: $container-padding;
        left: $container-padding;
        right: $container-padding;
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        .instruction-container {
            flex: 0 1 (100%/17);
        }
        .instruction-user-defined {
            height: 100%;
            border: 0.2rem dashed #000000a1;
            border-radius: .5rem;
            touch-action: none;
            overflow: hidden;
            display: none;
            .instruction-block {
                cursor: grab !important;
            }
            &:last-child {
                display: block;
            }
        }
    }
    #plains-narrative-text {
        position: absolute;
        top: $container-padding;
        bottom: 40%;
        left: 69.6%;
        right: $container-padding;
        display: flex;
        flex-direction: column;
        justify-content: start;

        // Hide direct descendants
        & > * {
            opacity: 0;
        }
    }
    #plains-instruction-buttons {
        position: absolute;
        top: 77%;
        bottom: 14%;
        left: 68.8%;
        right: $container-padding;
        display: flex;
        justify-content: space-around;
        align-items: center;
        opacity: 0;
    }
    #plains-instruction-blocks {
        position: absolute;
        top: 55%;
        bottom: 29%;
        left: 70%;
        right: $container-padding;
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        align-content: stretch;
        background-image: url('../img/plains-instruction-stack.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        > div {
            flex: 0 1 25%;
        }
        .instruction-block {
            cursor: grab !important;
        }
        &.kea-blocks {
            background-image: url('../img/plains-instruction-stack-missing-right.svg') !important;
        }
    }
    .instruction-block {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        cursor: not-allowed;
    }
    .instruction-forward {
        background-image: url('../img/plains-instruction-forward.svg');
    }
    .instruction-turn-left {
        background-image: url('../img/plains-instruction-turn-left.svg');
    }
    .instruction-turn-right {
        background-image: url('../img/plains-instruction-turn-right.svg');
    }

    #plains-next-stage {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
    .gu-mirror {
        cursor: grabbing;
    }
}
