@import '_constants';

#animation-container {
    #welcome-ui {
        background-color: $background-color;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 40% 30% 10% 20%;
        grid-template-areas:
            "header header"
            "notice-1-icon notice-2-icon"
            "notice-1 notice-2"
            "footer footer";
        position: absolute;
        grid-gap: calc(var(--font-size));
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: calc(var(--font-size));
        z-index: 900;

        #header {
            grid-area: header;
            h1 {
                margin: calc(var(--font-size));
            }
        }
        .notice-icon {
            object-fit: contain;
            width: 100%;
            max-height: 100%;
        }
        #notice-1-icon {
            grid-area: notice-1-icon;
            display: flex;
            justify-content: center;
        }
        #notice-2-icon {
            grid-area: notice-2-icon;
        }
        .notice {
            text-align: center;
        }
        #notice-1 {
            grid-area: notice-1;
        }
        #notice-2 {
            grid-area: notice-2;
        }
        #footer {
            grid-area: footer;
            flex-direction: column;
        }
        .grid-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        #setup-status-checks {
            display: flex;
            justify-content: center;
            margin-top: calc(var(--font-size));

            .status-checkbox {
                border: 1px solid white;
                background-color: #333;
                width: calc(var(--font-size) * 1);
                height: calc(var(--font-size) * 1);
                margin: 0 calc(var(--font-size) * 0.25);
                transition: background-color .3s;
                border-radius: calc(var(--font-size) * 0.2);

                &.success {
                    background-color: #31ad00;
                }
            }
        }

        #load-error {
            background: white;
            border-radius: calc(var(--font-size) * 0.3);
            color: red;
            padding: 0 calc(var(--font-size));
        }
    }
    @media screen and (orientation:landscape) {
        // CSS applied when the device is in portrait mode
        #welcome-ui {
            grid-template-areas:
                "header header"
                "notice-2-icon notice-2-icon"
                "notice-2 notice-2"
                "footer footer";
        }
        #notice-1, #notice-1-icon {
            display: none !important;
        }
    }
}
