@import '_constants';

#animation-container {
    #welcome-ui {
        background-color: $background-color;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 2fr auto 1fr;
        grid-template-areas: "header header" "notice-1-icon notice-2-icon" "notice-1 notice-2" "footer footer";
        position: absolute;
        grid-gap: 1vw;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem;
        z-index: 900;

        #header {
            grid-area: header;
            h1 {
                font-size: 5vw;
                margin: 1vw;
            }
            #alpha-info {
                background: #ffee00;
                color: #222;
                padding: 2%;
                font-size: 0.8rem;
                border-radius: 2vw;
                p {
                    @apply mb-2;
                }
                ul {
                    @apply pl-6;
                    list-style-type: disc;
                }
            }
        }
        .notice-icon {
            height: 100%;
            width: 100%;
        }
        #notice-1-icon {
            grid-area: notice-1-icon;
            display: flex;
            justify-content: center;
        }
        #notice-2-icon {
            grid-area: notice-2-icon;
        }
        .notice {
            h2 {
                text-align: center;
                margin: .5vw;
                font-size: 2.5vw;
            }
            p {
                margin: 0;
            }
        }
        #notice-1 {
            grid-area: notice-1;
        }
        #notice-2 {
            grid-area: notice-2;
        }
        #footer {
            grid-area: footer;
            flex-direction: column;
        }
        .grid-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        #setup-status-checks {
            display: flex;
            justify-content: center;

            .status-checkbox {
                $checkbox-size: 1rem;
                border: 1px solid white;
                background-color: #333;
                width: $checkbox-size;
                height: $checkbox-size;
                margin: 0 $checkbox-size/4;
                transition: background-color .3s;
                border-radius: $checkbox-size/3;

                &.success {
                    background-color: #31ad00;
                }
            }
        }

        #load-error {
            background: white;
            border-radius: .3rem;
            color: red;
            padding: 0 1rem;
        }
    }
}
