@import '_constants';

#animation-container {
    #fern-message-container {
        position: absolute;
        top: 1%;
        bottom: 35%;
        left: 36%;
        right: 28%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;

        .letter-container {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: stretch;
            background-image: url('../img/flax-rope-asset.svg');
            background-size: 3%;
            background-repeat: repeat-x;
            background-position: 0% 2%;

            .digit-element {
                flex: 1;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    #fern-message-previous-stage {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    #fern-message-next-stage {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
