#animation-container {
    #landscape-view-svg {
        transform-origin: 82% 42.5%;
    }
    #landscape-ui-narrative-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        top: 1%;
        bottom: 1%;
        left: 1%;
        right: 70%;
    }
    #landscape-view-next-stage {
        position: absolute;
        bottom: 1%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}
