@import '_constants';

#animation-container {

    $container-padding: 0.5rem;
    #plains-left-container {
        position: absolute;
        top: $container-padding;
        bottom: $container-padding;
        left: $container-padding;
        right: 50%;
        padding-left: 5%;
        padding-right: 5%;
        display: grid;
        grid-template-rows: 1fr auto 1fr;

        #plains-grid-container {
            position: relative;
            width: 100%;
            &:after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }

            #plains-grid {
                $cell-border: 0.2rem dashed rgb(70, 70, 70);
                position: absolute;
                width: 100%;
                height: 100%;
                display: grid;
                justify-items: stretch;
                align-items: stretch;

                .cell {
                    flex: 1 0 auto;
                    border-top: $cell-border;
                    border-left: $cell-border;
                    &.right-edge {
                        border-right: $cell-border;
                    }
                    &.bottom-edge {
                        border-bottom: $cell-border;
                    }
                }
            }
        }
    }
    #plains-user-instructions {
        position: absolute;
        top: $container-padding;
        bottom: 25%;
        left: 50%;
        right: $container-padding;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: stretch;
    }
    #plains-instruction-blocks {
        position: absolute;
        top: 75%;
        bottom: $container-padding;
        left: 50%;
        right: $container-padding;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
    }
    .instruction-block {
        flex: 1 0 auto;
        margin: 1rem;
        cursor: grab;
    }
    #instruction-forward-source {
        background: blue;
    }
    #instruction-turn-left-source {
        background: green;
    }
    #instruction-turn-right-source {
        background: purple;
    }

    #plains-next-stage {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
}
