@tailwind base;
@tailwind components;
@tailwind utilities;
@import './node_modules/dragula/dist/dragula';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import '_constants';
@import 'stage_welcome';
@import 'stage_landscape_view';
@import 'stage_fern_interactive';
@import 'stage_fern_message';
@import 'stage_before_river';
@import 'stage_river_crossing';
@import 'stage_before_plains';
@import 'stage_plains';
@import 'complete';

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: $background-color;
    color: #fff;
    padding: 0;
    font-size: 1rem;
}

h1 {
    @apply text-4xl;
}
h2 {
    @apply text-2xl;
}

#animation-container {
    cursor: default;
    user-select: none;
    $container-size: 97;  // % of lower screen dimension
    $container-ratio: 16 / 9;
    width: $container-size * 1vw;
    height: $container-size * 1vw / $container-ratio;
    max-height: $container-size * 1vh;
    max-width: $container-ratio * $container-size * 1vh;
    margin: max(1vw, 1vh) auto;
    overflow: hidden;
    position: relative;
    background: #222;
    border: 2px solid #222;
    box-sizing: border-box;

    #animation-blindfold {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $background-color;
        z-index: 999;
    }
}

.instruction-text {
    background-color: #0b2e50c7;
    display: inline-block;
    font-style: italic;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.narrative-text {
    background-color: #000000c7;
    display: inline-block;
    @apply px-4;
    @apply py-2;
    margin: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.button {
    color: #fff;
    font-weight: bold;
    $background-color: #1c59e4;
    cursor: pointer;
    text-align: center;
    padding: 0.5rem 1rem;
    background-color: $background-color;
    border: 1px solid darken($background-color, 10%);
    display: inline;
    border-radius: 0.5rem;
    font-size: 1rem;

    &:hover {
        background-color: darken($background-color, 8%);
    }
}

.credits {
    font-size: 0.7rem;
    color: #888;
}

.d-none {
    display: none;
}

.opacity-0 {
    opacity: 0;
}

.hidden {
  display: none !important;
}
