@import 'boilerplate';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import '_constants';
@import 'stage_welcome';
@import 'stage_landscape_view';
@import 'stage_fern_interactive';
@import 'stage_fern_message';

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: $background-color;
    color: #fff;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#animation-container {
    cursor: default;
    user-select: none;
    $container-size: 97;  // % of lower screen dimension
    $container-ratio: 16 / 9;
    width: $container-size * 1vw;
    height: $container-size * 1vw / $container-ratio;
    max-height: $container-size * 1vh;
    max-width: $container-ratio * $container-size * 1vh;
    margin: 1rem auto;
    overflow: hidden;
    position: relative;
    background: #222;
    border: 2px solid #222;
    box-sizing: border-box;

    #animation-blindfold {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $background-color;
        z-index: 999;
    }
}

.narrative-text {
    background-color: #00000096;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.button {
    $background-color: #1c59e4;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background-color: $background-color;
    border: 1px solid darken($background-color, 10%);
    display: inline;
    border-radius: 0.3rem;

    &:hover {
        background-color: darken($background-color, 8%);
    }
}

.text-center {
    text-align: center;
}

.credits {
    font-size: 0.7rem;
    color: #888;
}

.d-none {
    display: none;
}
