@tailwind base;
@tailwind components;
@tailwind utilities;
@import './node_modules/dragula/dist/dragula';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import '_constants';
@import 'stage_welcome';
@import 'stage_landscape_view';
@import 'stage_fern_interactive';
@import 'stage_fern_message';
@import 'stage_before_river';
@import 'stage_river_crossing';
@import 'stage_before_plains';
@import 'stage_plains';
@import 'stage_before_pa';
@import 'stage_outside_pa';
@import 'content_guide';

html, body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
}

body {
    background-color: $background-color;
    color: #fff;
    padding: 0;
}

#animation-container {
    h1 {
        font-size: calc(var(--font-size) * 4);
    }
    h2 {
        font-size: calc(var(--font-size) * 2);
    }
    cursor: default;
    user-select: none;
    $container-size: 98;  // % of lower screen dimension
    $container-ratio: 16 / 9;
    width: $container-size * 1vw;
    height: $container-size * 1vw / $container-ratio;
    max-height: $container-size * 1vh;
    max-width: $container-ratio * $container-size * 1vh;
    margin: min(0.5vw, 0.5vh) auto;
    overflow: hidden;
    position: relative;
    background: #222;
    border: 2px solid #222;
    box-sizing: border-box;
    font-size: var(--font-size);

    #animation-blindfold {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $background-color;
        z-index: 999;
    }
}

.ui-text {
    display: inline-block;
    padding: calc(var(--font-size) * 0.5) var(--font-size);
    margin-bottom: calc(var(--font-size) * 0.5);
    border-radius: calc(var(--font-size) * 0.5);
    overflow-y: auto;
    @extend .hidden-ui;
}

.instruction-text {
    background-color: rgba(#0e5090, 0.9);
    font-style: italic;
}

.narrative-text {
    background-color: rgba(#202020, 0.98);
}

.button {
    color: #fff;
    font-weight: bold;
    $background-color: #1c59e4;
    cursor: pointer;
    text-align: center;
    padding: calc(var(--font-size) * 0.5) var(--font-size);
    background-color: $background-color;
    border: 1px solid #333;
    display: inline;
    border-radius: calc(var(--font-size) * 0.5);
    font-size: calc(var(--font-size) * 1.1);

    &:hover {
        background-color: darken($background-color, 8%);
    }
    &.button-yellow {
        background-color: #ecc94b;
        color: #000;

        &:hover {
            background-color: #d69e2e;
        }
    }
    &:disabled {
        background-color: #444;
        border-color: #333;
        color: #aaa;
        cursor: not-allowed;
    }
    &.button-sm {
        font-size: calc(var(--font-size) * 0.8);
    }
}

#controls {
    opacity: 0.7;
    transition: opacity .1s ease-in-out;
    &:hover {
        opacity: 1;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    button {
        font-size: var(--font-size);
        padding: 0.2rem 0.4rem;
        $background-color: #576077;
        background-color: $background-color;
        &:hover {
            background-color: darken($background-color, 8%);
        }
    }
    #volume-control {
        display: flex;
        align-items: center;
        font-size: var(--font-size);
        font-weight: bold;
        input {
            cursor: pointer;
        }
    }
}

#credits {
    @apply my-8;
    font-size: 0.8rem;
    color: #888;

    #logos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        a {
            padding: 1rem;
            flex: 0 0 0;
            img {
                max-width: 20rem;
                height: auto;
            }
        }
    }
}
a:not(.button) {
    text-decoration: underline;
}
.d-none {
    display: none;
}
.hidden {
  display: none !important;
}
.hidden-ui {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
