<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>A DT Puzzle Journey</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="">
        <meta property="og:type" content="">
        <meta property="og:url" content="">
        <meta property="og:image" content="">

        <link rel="manifest" href="/site.webmanifest">
        <link rel="icon" type="image/png" href="/img/favicon.png" >
        <link rel="apple-touch-icon" href="/img/favicon.png">

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.scss">

        <meta name="theme-color" content="#fafafa">
    </head>
    <body>
        {% block content %}
        {% endblock %}

        <div class="container mx-auto text-center credits">
            <p>
                This website was produced through funding from the <a href="https://www.education.govt.nz/">Ministry of Education</a> for the National Digital Readiness Programme, <a href="https://kiatakatu.ac.nz/">Kia Takatū ā-Matihiko</a>.
                It is hosted and maintained by the <a href="https://www.canterbury.ac.nz/">University of Canterbury</a>, <a href="https://www.canterbury.ac.nz/engineering/schools/csse/research/cse/">Computer Science Education Group</a>.
                This website content is available under <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons BY-SA 4.0</a>, and the interactive website is licensed under the <a href="https://tldrlegal.com/license/mit-license">MIT license</a>.
                Any third party libraries used have their licenses listed in the <a href="https://github.com/uccser/dt-puzzle-journey">GitHub repository</a>.
                The Kia Takatū ā-Matihiko logo and project assets are under <a href="https://www.iponz.govt.nz/about-ip/copyright/crown-copyright/">Crown copyright</a>.
            </p>
        </div>

        <script src="/js/vendor/modernizr-3.11.2.min.js"></script>
        <script src="/js/plugins.js"></script>
        {% block scripts %}
        {% endblock %}
        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
            ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async></script>
    </body>
</html>
