{% extends "src/_base.njk" %}

{% block content %}
    <div>
        <div id="animation-container">
            <div id="animation-blindfold"></div>
            <div id="welcome-ui">
                <div id="header" class="grid-item">
                    <h1>A DT Puzzle Journey</h1>
                    <div id="alpha-info">
                        <h2>Development Preview</h2>
                        <p>Thank you for participating in an early test of the DT Puzzle Journey.</p>
                        <p>Please provide any feedback, issues, or bugs to your faciliator or email <a href="mailto:jack.morgan@kiatakatu.ac.nz">jack.morgan@kiatakatu.ac.nz</a>.</p>
                        <p>The following features have not yet been implemented but are planned for the release at uLearn 2020:</p>
                        <ul>
                            <li>Background animations</li>
                            <li>Hint system</li>
                            <li>Music and sound effects</li>
                            <li>Art rework</li>
                            <li>Extra plains stages</li>
                        </ul>
                    </div>
                </div>
                <div id="notice-1-icon" class="notice-icon">
                    <div id="phone-landscape-animation"></div>
                </div>
                <div id="notice-1" class="notice">
                    <h2>Use landscape on mobile devices</h2>
                    <p>If you're using a mobile device, we recommend switching to landscape to interact with the puzzles easier.</p>
                </div>
                {# <div id="notice-2-icon" class="notice-icon"></div>
                <div id="notice-2" class="notice">
                    <h2>Notice #2</h2>
                    <p>To be added if feature is implemented before release.</p>
                </div> #}
                <div id="footer" class="grid-item">
                    <div id="setup-status" class="text-center">
                        <p>Getting everything setup...</p>
                        <div id="setup-status-checks"></div>
                    </div>
                    <button id="welcome-end" class="button d-none"></button>
                    <div id="load-error" class="text-center d-none">
                        <p><strong>Sorry, but we've encountered a problem.</strong></p>
                        <p>Try using a browser such as Google Chrome or Firefox that is up to date.</p>
                    </div>
                </div>
            </div>
            <div id="stage-landscape-view" class="stage">
                <object id="landscape-view" type="image/svg+xml" data="img/landscape-view.svg" class="svg"></object>
                <div id="landscape-ui">
                    <p id="landscape-ui-narrative-text" class="narrative-text"></p>
                </div>
                <button id="landscape-view-next-stage" class="button">
                    Step into the forest
                </button>
            </div>
            <div id="stage-fern-interactive" class="stage">
                <object id="fern-svg" type="image/svg+xml" data="img/fern-interactive.svg" class="svg"></object>
                <div id="fern-interactive-ui-1">
                    <p class="narrative-text">
                        A group of fern leaves has been laid upon a large rock.
                    </p>
                    <p class="narrative-text">
                        I remember my whānau telling me that I will come across a secret message informing me which path to take to find the river crossing.
                    </p>
                    <p class="narrative-text">
                        I should understand what is special about these leaves before continuing.
                    </p>
                    <p class="instruction-text">
                        Click on the leaves to interact with them.
                    </p>
                </div>
                <div id="fern-interactive-ui-2">
                    <p class="narrative-text ant-text-1">
                        The ants are forming a number on the tree that seems to be connected to the leaves.
                        I should understand how the numbers are formed.
                    </p>
                    <p class="narrative-text ant-text-1">
                        How do I make the number <span id='ant-puzzle-1-goal'></span>?
                    </p>
                    <p class="narrative-text ant-text-2">
                        Ahh, that worked. What about the number <span id='ant-puzzle-2-goal'></span>?
                    </p>
                    <p class="narrative-text ant-text-3">
                        I think it's time to head further down the path now.
                    </p>
                </div>
                <button id='fern-next-stage' class="button">
                    Continue down the path
                </button>
                <div id="fern-container">
                    <div id="fern-leaf-16" data-value="16" class="fern-leaf">
                        <div id="fern-leaf-16-front" class="fern-leaf-side fern-leaf-front"></div>
                        <div id="fern-leaf-16-back" class="fern-leaf-side fern-leaf-back"></div>
                    </div>
                    <div id="fern-leaf-8" data-value="8" class="fern-leaf">
                        <div id="fern-leaf-8-front" class="fern-leaf-side fern-leaf-front"></div>
                        <div id="fern-leaf-8-back" class="fern-leaf-side fern-leaf-back"></div>
                    </div>
                    <div id="fern-leaf-4" data-value="4" class="fern-leaf">
                        <div id="fern-leaf-4-front" class="fern-leaf-side fern-leaf-front"></div>
                        <div id="fern-leaf-4-back" class="fern-leaf-side fern-leaf-back"></div>
                    </div>
                    <div id="fern-leaf-2" data-value="2" class="fern-leaf">
                        <div id="fern-leaf-2-front" class="fern-leaf-side fern-leaf-front"></div>
                        <div id="fern-leaf-2-back" class="fern-leaf-side fern-leaf-back"></div>
                    </div>
                    <div id="fern-leaf-1" data-value="1" class="fern-leaf">
                        <div id="fern-leaf-1-front" class="fern-leaf-side fern-leaf-front"></div>
                        <div id="fern-leaf-1-back" class="fern-leaf-side fern-leaf-back"></div>
                    </div>
                </div>
            </div>
            <div id="stage-fern-message" class="stage">
                <object id="fern-message-svg" type="image/svg+xml" data="img/fern-message.svg" class="svg"></object>
                <div id="fern-message-narrative-text">
                    <p class="narrative-text initial-text">
                        I've found the secret message hanging on a rimu trunk.
                        Some of the dots have been rubbed off the leaves to make it harder to decipher.
                    </p>
                    <p class="narrative-text initial-text">
                        I need to figure out what the word is, so I know which path to take down the valley to the river crossing.
                    </p>
                    <p class="narrative-text secondary-text">
                        If I don't understand how the code works I might need to head back up the path.
                        Maybe the fern leaves and the number the ants formed can help me.
                    </p>
                    <p class="instruction-text">
                        I need to figure out the letters – represented by the ferns – using the symbols on the fallen log below.
                        The resulting word should tell me which path to take.
                    </p>
                </div>
                <div id="fern-message-narrative-text-final">
                    <p class="narrative-text">
                        Ah!
                        Since the number has appeared on a rimu tree, I will continue down the track until I pass <span id="fern-message-word-sentence"></span> rimu.
                        I can head downhill to the river at that point, and I should find the river crossing.
                    </p>
                </div>
                <button id="fern-message-previous-stage" class="button">
                    Go back up the path
                </button>
                <button id="fern-message-next-stage" class="button d-none">
                    Head down the valley
                </button>
                <div id="fern-message-word-container"></div>
                <div id="fern-message-value-container"></div>
                <div id="fern-message-feedback-container">
                    <button id="fern-message-check" class="button">
                        Check the letters
                    </button>
                    <div id="fern-message-feedback-error-text" class="narrative-text">
                        Something doesn't seem right.
                        I need to try again.
                    </div>
                    <div id="fern-message-feedback-success-text" class="narrative-text">
                        <div id="fern-message-word"></div>
                        <div id="fern-message-word-translation"></div>
                    </div>
                </div>
            </div>
            <div id="stage-before-river" class="stage">
                <object id="before-river-svg" type="image/svg+xml" data="img/before-river.svg" class="svg"></object>
                <div id="before-river-ui">
                    <p class="narrative-text">
                        Whew!
                        I'm glad to have figured out that message left for me by my whānau.
                        I have successfully found the secret path and made it to the river.
                    </p>
                    <p class="narrative-text">
                        That storm last week has washed away the crossing.
                        The river is too swift to cross, so I'm going to have to make a new bridge.
                        At least by rebuilding the bridge, other people will be able to use it too.
                    </p>
                    <p class="narrative-text">
                        I can see some coils of rope, but someone has cut them into lengths that are too short to span the river.
                        I'm going to have to join them together.
                    </p>
                </div>
                <button id="before-river-next-stage" class="button d-none">
                    Start assembling the bridge
                </button>
            </div>
            <div id="stage-river-crossing" class="stage">
                <object id="river-crossing-svg" type="image/svg+xml" data="img/river-crossing.svg" class="svg"></object>
                <div id="river-crossing-narrative-text">
                    <p class="narrative-text initial-text">
                        I'm going to have to join these coils of rope together.
                        Which lengths will I join to make three perfect spans of rope?
                    </p>
                    <p class="instruction-text">
                        Drag the coils of rope to the river.
                        Make sure they aren't too long or too short.
                        Drag them back to the river bank if you need to.
                    </p>
                </div>
                <div id="river-crossing-narrative-text-final">
                    <p class="narrative-text">
                        I managed to make three perfect spans of rope, creating a bridge for me to cross.
                        Not far to go now.
                        I can smell the wood-smoke from the pā.
                    </p>
                </div>
                <div id="river-crossing-cursor-catchment"></div>
                <div id="river-crossing-measurement" class="rope-value">10m</div>
                <div id="river-crossing-bank" data-capacity="300" class="rope-container"></div>
                <div id="river-crossing-rope-top" data-capacity="100" class="rope-container rope-bridge"></div>
                <div id="river-crossing-rope-middle" data-capacity="100" class="rope-container rope-bridge"></div>
                <div id="river-crossing-rope-bottom" data-capacity="100" class="rope-container rope-bridge"></div>
                <button id="river-crossing-next-stage" class="button d-none">
                    Cross the river
                </button>
            </div>
            <div id="stage-before-plains" class="stage">
                <object id="before-plains-svg" type="image/svg+xml" data="img/before-plains.svg" class="svg"></object>
                <div id="before-plains-ui">
                    <p class="narrative-text">
                        I can see the pā in the distance, but I still need to cross the large grassy plains.
                    </p>
                    <p class="narrative-text">
                        There are obstacles everywhere.
                        I can see where some weka have built their nests, I don't want to disturb them either.
                        How will I find my way through?
                    </p>
                </div>
                <button id="before-plains-next-stage" class="button d-none">
                    Start walking
                </button>
            </div>
            <div id="stage-plains" class="stage">
                <object id="plains-svg" type="image/svg+xml" data="img/plains.svg" class="svg"></object>
                <div id="plains-left-container">
                    <div id="plains-grid-left-edge"></div>
                    <div id="plains-grid-container">
                        <div id="plains-grid"></div>
                    </div>
                    <div id="plains-grid-right-edge"></div>
                </div>
                <div id="plains-user-instructions"></div>
                <div id="plains-narrative-text">
                    <p class="narrative-text initial-text">
                        My whānau have left instructions for me, but some of the instructions were lost in the storm.
                        I can replace them from this pile of spares.
                    </p>
                    <p class="instruction-text">
                        Drag steps from the pile of spares, to create a set of instructions to reach the path at the top.
                    </p>
                    <p id="kea-text-1" class="narrative-text">
                        Oh no!
                        That kea has taken all the right arrows!
                        I'll have to complete the instructions without them.
                        I have plenty of space for instructions, but I don't think I'll need to use them all.
                    </p>
                    <p id="kea-text-2" class="narrative-text">
                        There isn't enough room for all the instructions.
                        There must be a quicker way to get through with the blocks I have.
                        I wonder if I need to think creatively about how I use the arrows…
                    </p>
                </div>
                <div id="plains-instruction-buttons">
                    <button id="plains-run-button" class="button">
                        Run instructions
                    </button>
                </div>
                <div id="plains-instruction-blocks" class="instruction-container"></div>
                <button id="plains-next-stage" class="button d-none">
                    Continue walking across the plains
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/js/main.js"></script>
{% endblock %}
