{% extends "src/_base.njk" %}

{% block content %}
    <div>
        <div id="animation-container">
            <div id="animation-blindfold"></div>
            <div id="welcome-ui">
                <div id="header" class="grid-item">
                    <h1>A DT Puzzle Journey</h1>
                    <span id="alpha-label">Currently under development</span>
                </div>
                <div id="notice-1-icon" class="notice-icon">
                    <div id="phone-landscape-animation"></div>
                </div>
                <div id="notice-1" class="notice">
                    <h2>Use landscape on mobile devices</h2>
                    <p>If you're using a mobile device, we recommend switching to landscape to interact with the puzzles easier.</p>
                </div>
                <div id="notice-2-icon" class="notice-icon"></div>
                <div id="notice-2" class="notice">
                    <h2>Notice #2</h2>
                    <p>To be added if feature is implemented.</p>
                </div>
                <div id="footer" class="grid-item">
                    <div id="setup-status" class="text-center">
                        <p>Getting everything setup...</p>
                        <div id="setup-status-checks"></div>
                    </div>
                    <button id="welcome-end" class="button d-none"></button>
                    <div id="load-error" class="text-center d-none">
                        <p><strong>Sorry, but we've encountered a problem.</strong></p>
                        <p>Try using a browser such as Google Chrome or Firefox that is up to date.</p>
                    </div>
                </div>
            </div>
            <div id="stage-landscape-view" class="stage">
                <object id="landscape-view" type="image/svg+xml" data="img/landscape-view.svg" class="svg"></object>
                <div id="landscape-ui-1">
                    <p class="narrative-text">
                        It is time to return home to my whānau
                    </p>
                </div>
                <div id="landscape-ui-2" class="text-center">
                    <p class="narrative-text">
                        Not far to go now...
                    </p>
                    <button id='landscape-stage-end' class="button">Step into the forest</button>
                </div>
            </div>
            <div id="stage-fern-interactive" class="stage">
                <object id="fern-svg" type="image/svg+xml" data="img/fern-interactive.svg" class="svg"></object>
                <div id="fern-interactive-ui">
                    <p class="narrative-text">
                        I come across a group of fern leaves laid upon a large rock.
                    </p>
                    <p class="narrative-text">
                        I remember my whānau telling me that I will come across a secret message informing me which path to take to find the river crossing.
                    </p>
                    <p class="narrative-text">
                        I should understand what is special about these leaves before continuing.
                    </p>
                </div>
                <button id='fern-next-stage' class="button d-none">
                    Continue down the path
                </button>
                <div id="fern-container">
                    <div id="fern-leaf-16" data-value="16" class="fern-leaf">
                        <div id="fern-leaf-16-front" class="fern-leaf-side fern-leaf-front"></div>
                        <div id="fern-leaf-16-back" class="fern-leaf-side fern-leaf-back"></div>
                    </div>
                    <div id="fern-leaf-8" data-value="8" class="fern-leaf">
                        <div id="fern-leaf-8-front" class="fern-leaf-side fern-leaf-front"></div>
                        <div id="fern-leaf-8-back" class="fern-leaf-side fern-leaf-back"></div>
                    </div>
                    <div id="fern-leaf-4" data-value="4" class="fern-leaf">
                        <div id="fern-leaf-4-front" class="fern-leaf-side fern-leaf-front"></div>
                        <div id="fern-leaf-4-back" class="fern-leaf-side fern-leaf-back"></div>
                    </div>
                    <div id="fern-leaf-2" data-value="2" class="fern-leaf">
                        <div id="fern-leaf-2-front" class="fern-leaf-side fern-leaf-front"></div>
                        <div id="fern-leaf-2-back" class="fern-leaf-side fern-leaf-back"></div>
                    </div>
                    <div id="fern-leaf-1" data-value="1" class="fern-leaf">
                        <div id="fern-leaf-1-front" class="fern-leaf-side fern-leaf-front"></div>
                        <div id="fern-leaf-1-back" class="fern-leaf-side fern-leaf-back"></div>
                    </div>
                </div>
            </div>
            <div id="stage-fern-message" class="stage">
                <object id="fern-message-svg" type="image/svg+xml" data="img/fern-message.svg" class="svg"></object>
                <div id="fern-message-narrative-text">
                    <p class="narrative-text">
                        I've found the secret message hanging on a Rimu trunk.
                        The dots have been rubbed off the leaves to make it harder to decipher.
                    </p>
                    <p class="narrative-text">
                        I need to figure out what the word is, so I know when to head down the valley to find the river crossing.
                    </p>
                    <p class="instruction-text">
                        Using the legend below, figure out the word.
                    </p>
                </div>
                <button id="fern-message-previous-stage" class="button">
                    Go back up the path
                </button>
                <button id='fern-message-next-stage' class="button d-none">
                    Continue down the path
                </button>
                <div id="fern-message-continue-narrative-text" class="narrative-text">
                    The message is clear now. I need to head down the valley towards the river once I pass <span id="fern-message-word-sentence"></span> Rimu trees.
                </div>
                <div id="fern-message-word-container"></div>
                <div id="fern-message-value-container"></div>
                <div id="fern-message-feedback-container">
                    <button id="fern-message-check" class="button">
                        Check
                    </button>
                    <div id="fern-message-feedback-error-text" class="narrative-text">
                        Something doesn't seem right. I need to try again.
                    </div>
                    <div id="fern-message-feedback-success-text" class="narrative-text">
                        <div id="fern-message-word"></div>
                        <div id="fern-message-word-translation"></div>
                    </div>
                </div>
            </div>
            <div id="stage-before-river" class="stage">
                <object id="before-river-svg" type="image/svg+xml" data="img/before-river.svg" class="svg"></object>
                <button id="before-river-next-stage" class="button d-none">
                    Approach the river
                </button>
            </div>
            <div id="stage-river-crossing" class="stage">
                <object id="river-crossing-svg" type="image/svg+xml" data="img/river-crossing.svg" class="svg"></object>
                <div id="river-crossing-cursor-catchment"></div>
                <div id="river-crossing-measurement" class="rope-value">10m</div>
                <div id="river-crossing-bank" data-capacity="300" class="rope-container"></div>
                <div id="river-crossing-rope-top" data-capacity="100" class="rope-container rope-bridge"></div>
                <div id="river-crossing-rope-middle" data-capacity="100" class="rope-container rope-bridge"></div>
                <div id="river-crossing-rope-bottom" data-capacity="100" class="rope-container rope-bridge"></div>
                <button id="river-crossing-next-stage" class="button d-none">
                    Approach the river
                </button>
            </div>
            <div id="stage-before-plains" class="stage">
                <object id="before-plains-svg" type="image/svg+xml" data="img/before-plains.svg" class="svg"></object>
                <button id="before-plains-next-stage" class="button d-none">
                    Walk across the plains
                </button>
            </div>
            <div id="stage-plains" class="stage">
                <object id="plains-svg" type="image/svg+xml" data="img/plains.svg" class="svg"></object>
                <div id="plains-left-container">
                    <div id="plains-grid-container">
                        <div id="plains-grid"></div>
                    </div>
                </div>
                <div id="plains-user-instructions"></div>
                <div id="plains-instruction-blocks">
                    <div id="instruction-forward-source" class="instruction-block instruction-forward"></div>
                    <div id="instruction-turn-left-source" class="instruction-block instruction-turn-left"></div>
                    <div id="instruction-turn-right-source" class="instruction-block instruction-turn-right"></div>
                </div>
                <button id="plains-next-stage" class="button d-none">
                    Walk towards the pā
                </button>
            </div>
        </div>
    </div>
    <div class="text-center credits">
        Copyright and license information will be displayed here.
    </div>
{% endblock %}

{% block scripts %}
    <script src="/js/main.js"></script>
{% endblock %}
